
{%- load_yaml as raw_server %}
Debian:
  pkgs:
  - tftpd-hpa
  - syslinux
  {%- if salt['grains.get']('os') == 'Ubuntu' %}
  path: /var/lib/tftpboot
  {%- else %}
  path: /srv/tftp
  {%- endif %}
  service: tftpd-hpa
RedHat:
  pkgs:
  - tftp-server
  - syslinux
  root: /var/lib/tftpboot/
  service: tftpd-hpa
{%- endload %}

{%- set server = salt['grains.filter_by'](raw_server, merge=salt['pillar.get']('tftpd_hpa:server')) %}
